main h2{
    font-size: 2rem;
    color: rgb(35,35,35);
    text-transform: capitalize;
    text-align: center;
}

main h3{
    font-size: 1.5rem;
    color: rgb(35,35,35);
    text-transform: capitalize;
    text-align: center; 
}

#data-analysis{
    width: 90%;
    margin: 0.8rem auto;
    text-align: center;
}

#data-analysis img{
    width: 12.5rem;
    height: 10rem;
    border-radius: 6px;
    /* object-fit: cover; */
}

#data-analysis ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* #data-analysis li{
    display: flex;
} */

#data-analysis li{
    padding: 0.8rem;
    box-shadow: 2px 4px 6px black;
    border-radius: 6px;
}

main p{
    color: rgb(134,134,134);
    font-size: 1.5rem;
}

#data-analysis #desc{
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#data-analysis #action a{
    background-color: rgb(202, 137, 16);
    padding: 0.3rem 0.5rem;
    color: white;
    border-radius: 4px;
}

#data-analysis #action a:hover{
    background-color: rgb(247, 167, 19);
    color: rgb(80, 78, 78);
}

/* Styling monitoringa and evaluation */
#monitoring-evaluation{
    width: 90%;
    margin: 0.8rem auto;
    text-align: center;
}

#monitoring-evaluation img{
    width: 12.5rem;
    height: 10rem;
    border-radius: 6px;
    /* object-fit: cover; */
}

#monitoring-evaluation h3{
    color:  rgb(35,35,35);
    font-size: 1.5rem;
}

#monitoring-evaluation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* #data-analysis li{
    display: flex;
} */

#monitoring-evaluation li{
    padding: 0.8rem;
    box-shadow: 2px 4px 6px black;
    border-radius: 6px;
}

#monitoring-evaluation #desc{
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#monitoring-evaluation #action a{
    background-color: rgb(202, 137, 16);
    padding: 0.3rem 0.5rem;
    color: white;
    border-radius: 4px;
}

#monitoring-evaluation #action a:hover{
    background-color: rgb(247, 167, 19);
    color: rgb(80, 78, 78);
}

/* Styling Research */
#research{
    width: 90%;
    margin: 0.8rem auto;
    text-align: center;
}

#research img{
    width: 12.5rem;
    height: 10rem;
    border-radius: 6px;
    /* object-fit: cover; */
}

#research h3{
    color:  rgb(35,35,35);
    font-size: 1.5rem;
}

#research h4{
    color:  rgb(70, 69, 69);
    font-size: 1.5rem;
}

#research ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* #data-analysis li{
    display: flex;
} */

#research li{
    padding: 0.8rem;
    box-shadow: 2px 4px 6px black;
    border-radius: 6px;
}

#research #desc{
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#research #action a{
    background-color: rgb(202, 137, 16);
    padding: 0.3rem 0.5rem;
    color: white;
    border-radius: 4px;
}

#research #action a:hover{
    background-color: rgb(247, 167, 19);
    color: rgb(80, 78, 78);
}

/* Styling business writing */
#business-writing{
    width: 90%;
    margin: 0.8rem auto;
    text-align: center;
}

#business-writing img{
    width: 12.5rem;
    height: 10rem;
    border-radius: 6px;
    /* object-fit: cover; */
}

#business-writing h3{
    color:  rgb(35,35,35);
    font-size: 1.5rem;
}

#business-writing h4{
    color:  rgb(70, 69, 69);
    font-size: 1.5rem;
}

#business-writing ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* #data-analysis li{
    display: flex;
} */

#business-writing li{
    padding: 0.8rem;
    box-shadow: 2px 4px 6px black;
    border-radius: 6px;
}

#business-writing #desc{
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#business-writing #action a{
    background-color: rgb(202, 137, 16);
    padding: 0.3rem 0.5rem;
    color: white;
    border-radius: 4px;
}

#business-writing #action a:hover{
    background-color: rgb(247, 167, 19);
    color: rgb(80, 78, 78);
}

/* Styling Graphics design*/
#graphics-design{
    width: 90%;
    margin: 0.8rem auto;
    text-align: center;
}

#graphics-design img{
    width: 12.5rem;
    height: 12rem;
    border-radius: 6px;
    /* object-fit: cover; */
}

#graphics-design h3{
    color:  rgb(35,35,35);
    font-size: 1.4rem;
}

#graphics-design h4{
    color:  rgb(70, 69, 69);
    font-size: 1.1rem;
}

#graphics-design ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

/* #data-analysis li{
    display: flex;
} */

#graphics-design li{
    padding: 0.8rem;
    box-shadow: 2px 4px 6px black;
    border-radius: 6px;
}

#graphics-design #desc{
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#graphics-design #action a{
    background-color: rgb(202, 137, 16);
    padding: 0.3rem 0.5rem;
    color: white;
    border-radius: 4px;
}

#graphics-design #action a:hover{
    background-color: rgb(247, 167, 19);
    color: rgb(80, 78, 78);
}

/* Styling Web design*/
#web-design{
    width: 90%;
    margin: 0.8rem auto;
    text-align: center;
}

#web-design img{
    width: 12.5rem;
    height: 12rem;
    border-radius: 6px;
    /* object-fit: cover; */
}

#web-design h3{
    color:  rgb(35,35,35);
    font-size: 1.4rem;
}

#web-design ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

/* #data-analysis li{
    display: flex;
} */

#web-design li{
    padding: 0.8rem;
    box-shadow: 2px 4px 6px black;
    border-radius: 6px;
}

#web-design #desc{
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#web-design #action a{
    background-color: rgb(202, 137, 16);
    padding: 0.3rem 0.5rem;
    color: white;
    border-radius: 4px;
}

#web-design #action a:hover{
    background-color: rgb(247, 167, 19);
    color: rgb(80, 78, 78);
}




/* Media query for responsive website */
/* Hide Nav list items */
/* For mobile view, set the h1 font size 1.5rem */
/* Make only one column */
@media (max-width: 768px){
    #main-header nav{
        display: none;
    }

    .menu-btn{
        display: flex;
    }
    
    main h1{
        font-size: 1.5rem;
    }
    #latest-products ul{
        grid-template-columns: 100%;
    }
}

@media (min-width: 769px){

    .menu-btn{
        display: none;
    }
}

/* Make the main section responsive */
/****************************** Next research */
/* Small screens and laptops */
@media(max-width: 769px){
    main #research ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
     }
 }


/* Ipad and tablets */
@media(max-width: 768px){
   main #research ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    #first{
        margin-top: 0;
        padding: 0;
    }
    main h4{
        margin-top: 2rem;
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 0;
    }
    main #research ul p{
        font-size: 1rem;
     }
     main #research #desc{
        height: auto;
     }
     main #research li{
        padding: 0.8rem;
        box-shadow: 1px 1.5px 2px black;
     }
}

/* Mobile phones */
@media(max-width: 480px){
    main li img{
        object-fit: cover;
        width: 100%;
        height: 18.75rem;
    }
    main li{
        flex-direction: column;
        height: 100%;
        padding: 0;
    }
}

/* Make the main section responsive */
/****************************** Next training */
/* Small screens and laptops */
@media(max-width: 769px){
    main #data-analysis ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
     }
 }


/* Ipad and tablets */
@media(max-width: 768px){
   main #data-analysis ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    #first{
        margin-top: 0;
        padding: 0;
    }
    main h4{
        margin-top: 2rem;
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 0;
    }
    main #data-analysis ul p{
        font-size: 1rem;
     }
     main #data-analysis #desc{
        height: auto;
     }
     main #data-analysis li{
        padding: 0.8rem;
        box-shadow: 1px 1.5px 2px black;
     }
}

/* Mobile phones */
@media(max-width: 480px){
    main li img{
        object-fit: cover;
        width: 100%;
        height: 18.75rem;
    }
    main li{
        flex-direction: column;
        height: 100%;
        padding: 0;
    }
}

/* Make the main section responsive */
/****************************** Next mande */
/* Small screens and laptops */
@media(max-width: 769px){
    main #monitoring-evaluation ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
     }
 }


/* Ipad and tablets */
@media(max-width: 768px){
   main #monitoring-evaluation ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    #first{
        margin-top: 0;
        padding: 0;
    }
    main h4{
        margin-top: 2rem;
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 0;
    }
    main #monitoring-evaluation ul p{
        font-size: 1rem;
     }
     main #monitoring-evaluation #desc{
        height: auto;
     }
     main #monitoring-evaluation li{
        padding: 0.8rem;
        box-shadow: 1px 1.5px 2px black;
     }
}

/* Mobile phones */
@media(max-width: 480px){
    main li img{
        object-fit: cover;
        width: 100%;
        height: 18.75rem;
    }
    main li{
        flex-direction: column;
        height: 100%;
        padding: 0;
    }
}

/* Make the main section responsive */
/****************************** Next business writing */
/* Small screens and laptops */
@media(max-width: 769px){
    main #business-writing ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
     }
 }


/* Ipad and tablets */
@media(max-width: 768px){
   main #business-writing ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    #first{
        margin-top: 0;
        padding: 0;
    }
    main h4{
        margin-top: 2rem;
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 0;
    }
    main #business-writing ul p{
        font-size: 1rem;
     }
     main #business-writing #desc{
        height: auto;
     }
     main #business-writing li{
        padding: 0.8rem;
        box-shadow: 1px 1.5px 2px black;
     }
}

/* Mobile phones */
@media(max-width: 480px){
    main li img{
        object-fit: cover;
        width: 100%;
        height: 18.75rem;
    }
    main li{
        flex-direction: column;
        height: 100%;
        padding: 0;
    }
}

/* Make the main section responsive */
/****************************** Next graphic design */
/* Small screens and laptops */
@media(max-width: 769px){
    main #graphics-design ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
     }
 }


/* Ipad and tablets */
@media(max-width: 768px){
   main #graphics-design ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    #first{
        margin-top: 0;
        padding: 0;
    }
    main h4{
        margin-top: 2rem;
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 0;
    }
    main #graphics-design ul p{
        font-size: 1rem;
     }
     main #graphics-design #desc{
        height: auto;
     }
     main #graphics-design li{
        padding: 0.8rem;
        box-shadow: 1px 1.5px 2px black;
     }
}

/* Mobile phones */
@media(max-width: 480px){
    main li img{
        object-fit: cover;
        width: 100%;
        height: 18.75rem;
    }
    main li{
        flex-direction: column;
        height: 100%;
        padding: 0;
    }
}

/* Make the main section responsive */
/****************************** Next web design */
/* Small screens and laptops */
@media(max-width: 769px){
    main #web-design ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
     }
 }


/* Ipad and tablets */
@media(max-width: 768px){
   main #web-design ul{
        padding: 0;
        margin-top: 1.2rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    #first{
        margin-top: 0;
        padding: 0;
    }
    main h4{
        margin-top: 2rem;
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 0;
    }
    main #web-design ul p{
        font-size: 1rem;
     }
     main #web-design #desc{
        height: auto;
     }
     main #web-design li{
        padding: 0.8rem;
        box-shadow: 1px 1.5px 2px black;
     }
}

/* Mobile phones */
@media(max-width: 480px){
    main li img{
        object-fit: cover;
        width: 100%;
        height: 18.75rem;
    }
    main li{
        flex-direction: column;
        height: 100%;
        padding: 0;
    }
}
